plazza

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion
.idea/
CMakeLists.txt
cmake-build-debug/

coverage/

PlazzaGui/libPlazzaGui\.so\.1

PlazzaGui/libPlazzaGui\.so\.1\.0

PlazzaGui/libPlazzaGui\.so\.1\.0\.0
